/*Header style start*/

.header {
  width: 100%;
  background: #f9f9fa;
  min-height: 100vh;
}

.wrapper {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.header__title_sm {
  text-align: center;
  background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
  padding: 80px 0 20px 0;
}
.header__title {
  font-size: 3rem;
  line-height: 4rem;
  max-width: 845px;
  margin: 0 auto;
  text-align: center;
}
.header__card {
  background-color: #fff;
  max-width: 340px;
  padding: 20px 0 20px 20px;
}

.cards__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 80px;
  width: 100%;
  padding: 40px;
}
.card__deck {
  color: #5c5c5c;
  line-height: 2rem;
}

/*Header style end*/
