/*Header style start*/
body {
  background: #f5f5f5;
}
.header {
  width: 100%;
  background: #f9f9fa;
  min-height: 100vh;
}

.wrapper {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
}
.header__title_sm {
  text-align: center;
  background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 80px 0 20px 0;
}
.header__title {
  font-size: 3rem;
  line-height: 4rem;
  max-width: 845px;
  margin: 0 auto;
  text-align: center;
}
.header__card {
  background-color: #fff;
  max-width: 340px;
  padding: 20px 0 20px 20px;
}

.cards__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 80px;
  width: 100%;
  padding: 40px;
}
.card__deck {
  color: #5c5c5c;
  line-height: 2rem;
}

/*Header style end*/

/*Main style start*/

.main {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 135px;
  gap: 60px;
}

.main__block_title {
  color: #56565a;
  font-weight: 700;
  font-size: 2rem;
}
.main__block_deck {
  color: #56565a;
  line-height: 2rem;
}
.btn__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 15px;
  margin-top: 30px;
}
.main__btn {
  width: 140px;
  height: 45px;
  background-color: #0a467e;
  color: #fff;
  border: none;
}
.main__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.main__card_sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
  gap: 10px;
  background-color: #ededed;
}
.main__card_bg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px;
  gap: 10px;
  background-color: #ededed;
}
.main__column_title {
  text-align: center;
  line-height: 2rem;
}
.main__column_title::after {
  display: block;
  content: "";
  width: 170px;
  height: 3px;
  background-color: #e5e5e5;
  margin: 0 auto;
}

.main__column_deck {
  line-height: 2rem;
}
.icon__bg {
  padding: 120px 130px 0 130px;
}
/*Main style end*/

/*Media style header start*/

@media screen and (max-width: 545px) {
  .header__title_sm {
    font-size: 1rem;
    margin: 15px;
    padding: 10px;
  }
}
@media screen and (max-width: 545px) {
  .header__title {
    font-size: 2rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 545px) {
  .cards__wrap {
    margin-top: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 545px) {
  .card__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 545px) {
  .card__deck {
    line-height: 1.5rem;
  }
}

/*Media header style end*/

/*Media main style start*/
@media screen and (max-width: 545px) {
  .main__block {
    display: grid;
  }
}

@media screen and (max-width: 545px) {
  .main__block_title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 545px) {
  .main__block_deck {
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 545px) {
  .btn__container {
    display: grid;
  }
}
@media screen and (max-width: 545px) {
  .main__btn {
    width: 100px;
  }
}
@media screen and (max-width: 545px) {
  .main {
    display: grid;
    padding: 30px 65px;
  }
}

@media screen and (max-width: 545px) {
  .main__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*Media main style end*/
